<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Brandon Jaspers</key>
	<dict>
		<key>Picture</key>
		<string>BrandonJaspers.png</string>
		<key>Age</key>
		<string>12</string>
		<key>Height</key>
		<string>5&apos; 1&quot;</string>
		<key>Weight</key>
		<string>109 lbs.</string>
		<key>Hobbies</key>
		<string>Computers, Camping, Hockey</string>
		<key>Birthday</key>
		<string>May 21st</string>
		<key>Stats</key>
		<dict>
			<key>Knowledge</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>1</string>
					<string>3</string>
					<string>3</string>
					<string>5</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
					<string>7</string>
				</array>
			</dict>
			<key>Sanity</key>
			<dict>
				<key>Default Index</key>
				<integer>4</integer>
				<key>Values</key>
				<array>
					<string>3</string>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
				</array>
			</dict>
			<key>Speed</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>3</string>
					<string>4</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
				</array>
			</dict>
			<key>Might</key>
			<dict>
				<key>Default Index</key>
				<integer>4</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
					<string>7</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Father Rhinehardt</key>
	<dict>
		<key>Picture</key>
		<string>FatherRhinehardt.png</string>
		<key>Age</key>
		<string>62</string>
		<key>Height</key>
		<string>5&apos; 9&quot;</string>
		<key>Weight</key>
		<string>185 lbs.</string>
		<key>Hobbies</key>
		<string>Fencing, Gardening</string>
		<key>Birthday</key>
		<string>April 29th</string>
		<key>Stats</key>
		<dict>
			<key>Knowledge</key>
			<dict>
				<key>Default Index</key>
				<integer>4</integer>
				<key>Values</key>
				<array>
					<string>1</string>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
					<string>8</string>
				</array>
			</dict>
			<key>Sanity</key>
			<dict>
				<key>Default Index</key>
				<integer>5</integer>
				<key>Values</key>
				<array>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>7</string>
					<string>8</string>
				</array>
			</dict>
			<key>Speed</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>7</string>
				</array>
			</dict>
			<key>Might</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>2</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>7</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Zoe Ingstrom</key>
	<dict>
		<key>Picture</key>
		<string>ZoeIngstrom.png</string>
		<key>Age</key>
		<string>8</string>
		<key>Height</key>
		<string>3&apos; 9&quot;</string>
		<key>Weight</key>
		<string>49 lbs.</string>
		<key>Hobbies</key>
		<string>Dolls, Music</string>
		<key>Birthday</key>
		<string>November 5th</string>
		<key>Stats</key>
		<dict>
			<key>Knowledge</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>5</string>
				</array>
			</dict>
			<key>Sanity</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
				</array>
			</dict>
			<key>Speed</key>
			<dict>
				<key>Default Index</key>
				<integer>4</integer>
				<key>Values</key>
				<array>
					<string>4</string>
					<string>4</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>8</string>
					<string>8</string>
				</array>
			</dict>
			<key>Might</key>
			<dict>
				<key>Default Index</key>
				<integer>4</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>2</string>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Missy Dubourde</key>
	<dict>
		<key>Picture</key>
		<string>MissyDubourde.png</string>
		<key>Age</key>
		<string>9</string>
		<key>Height</key>
		<string>4&apos; 2&quot;</string>
		<key>Weight</key>
		<string>62 lbs.</string>
		<key>Hobbies</key>
		<string>Swimming, Medicine</string>
		<key>Birthday</key>
		<string>February 14th</string>
		<key>Stats</key>
		<dict>
			<key>Knowledge</key>
			<dict>
				<key>Default Index</key>
				<integer>4</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
					<string>6</string>
				</array>
			</dict>
			<key>Sanity</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
			</dict>
			<key>Speed</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
					<string>6</string>
					<string>7</string>
					<string>7</string>
				</array>
			</dict>
			<key>Might</key>
			<dict>
				<key>Default Index</key>
				<integer>4</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Professor Longfellow</key>
	<dict>
		<key>Picture</key>
		<string>ProfessorLongfellow.png</string>
		<key>Age</key>
		<string>57</string>
		<key>Height</key>
		<string>5&apos; 11&quot;</string>
		<key>Weight</key>
		<string>153 lbs.</string>
		<key>Hobbies</key>
		<string>Gaelic Music, Drama, Fine Wines</string>
		<key>Birthday</key>
		<string>July 27th</string>
		<key>Stats</key>
		<dict>
			<key>Knowledge</key>
			<dict>
				<key>Default Index</key>
				<integer>5</integer>
				<key>Values</key>
				<array>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>5</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
				</array>
			</dict>
			<key>Sanity</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>1</string>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
			</dict>
			<key>Speed</key>
			<dict>
				<key>Default Index</key>
				<integer>4</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>2</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
				</array>
			</dict>
			<key>Might</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Peter Akimoto</key>
	<dict>
		<key>Picture</key>
		<string>PeterAkimoto.png</string>
		<key>Age</key>
		<string>13</string>
		<key>Height</key>
		<string>4&apos; 11&quot;</string>
		<key>Weight</key>
		<string>98 lbs.</string>
		<key>Hobbies</key>
		<string>Bugs, Basketball</string>
		<key>Birthday</key>
		<string>September 3rd</string>
		<key>Stats</key>
		<dict>
			<key>Knowledge</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>3</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>7</string>
					<string>8</string>
				</array>
			</dict>
			<key>Sanity</key>
			<dict>
				<key>Default Index</key>
				<integer>4</integer>
				<key>Values</key>
				<array>
					<string>3</string>
					<string>4</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
					<string>7</string>
				</array>
			</dict>
			<key>Speed</key>
			<dict>
				<key>Default Index</key>
				<integer>4</integer>
				<key>Values</key>
				<array>
					<string>3</string>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>6</string>
					<string>6</string>
					<string>7</string>
					<string>7</string>
				</array>
			</dict>
			<key>Might</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>6</string>
					<string>8</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Darrin &quot;Flash&quot; Williams</key>
	<dict>
		<key>Picture</key>
		<string>DarrinFlashWilliams.png</string>
		<key>Age</key>
		<string>20</string>
		<key>Height</key>
		<string>5&apos; 11&quot;</string>
		<key>Weight</key>
		<string>188 lbs.</string>
		<key>Hobbies</key>
		<string>Track, Music, Shakespearean Literature</string>
		<key>Birthday</key>
		<string>June 6th</string>
		<key>Stats</key>
		<dict>
			<key>Knowledge</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>5</string>
					<string>7</string>
				</array>
			</dict>
			<key>Sanity</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>5</string>
					<string>7</string>
				</array>
			</dict>
			<key>Speed</key>
			<dict>
				<key>Default Index</key>
				<integer>5</integer>
				<key>Values</key>
				<array>
					<string>4</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>7</string>
					<string>8</string>
				</array>
			</dict>
			<key>Might</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
					<string>7</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Jenny LeClerc</key>
	<dict>
		<key>Picture</key>
		<string>JennyLeClerc.png</string>
		<key>Age</key>
		<string>21</string>
		<key>Height</key>
		<string>5&apos; 7&quot;</string>
		<key>Weight</key>
		<string>142 lbs.</string>
		<key>Hobbies</key>
		<string>Reading, Soccer</string>
		<key>Birthday</key>
		<string>March 4th</string>
		<key>Stats</key>
		<dict>
			<key>Knowledge</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>8</string>
				</array>
			</dict>
			<key>Sanity</key>
			<dict>
				<key>Default Index</key>
				<integer>5</integer>
				<key>Values</key>
				<array>
					<string>1</string>
					<string>1</string>
					<string>2</string>
					<string>4</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
				</array>
			</dict>
			<key>Speed</key>
			<dict>
				<key>Default Index</key>
				<integer>4</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>8</string>
				</array>
			</dict>
			<key>Might</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>3</string>
					<string>4</string>
					<string>4</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>8</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Madame Zostra</key>
	<dict>
		<key>Picture</key>
		<string>MadameZostra.png</string>
		<key>Age</key>
		<string>37</string>
		<key>Height</key>
		<string>5&apos; 0&quot;</string>
		<key>Weight</key>
		<string>150 lbs.</string>
		<key>Hobbies</key>
		<string>Astrology, Cooking, Baseball</string>
		<key>Birthday</key>
		<string>December 10th</string>
		<key>Stats</key>
		<dict>
			<key>Knowledge</key>
			<dict>
				<key>Default Index</key>
				<integer>4</integer>
				<key>Values</key>
				<array>
					<string>1</string>
					<string>3</string>
					<string>4</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
				</array>
			</dict>
			<key>Sanity</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>4</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>8</string>
				</array>
			</dict>
			<key>Speed</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>3</string>
					<string>5</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
					<string>7</string>
				</array>
			</dict>
			<key>Might</key>
			<dict>
				<key>Default Index</key>
				<integer>4</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>5</string>
					<string>6</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Vivian Lopez</key>
	<dict>
		<key>Picture</key>
		<string>VivianLopez.png</string>
		<key>Age</key>
		<string>42</string>
		<key>Height</key>
		<string>5&apos; 5&quot;</string>
		<key>Weight</key>
		<string>142 lbs.</string>
		<key>Hobbies</key>
		<string>Old Movies, Horses</string>
		<key>Birthday</key>
		<string>January 11th</string>
		<key>Stats</key>
		<dict>
			<key>Knowledge</key>
			<dict>
				<key>Default Index</key>
				<integer>4</integer>
				<key>Values</key>
				<array>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>5</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
					<string>7</string>
				</array>
			</dict>
			<key>Sanity</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>4</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>8</string>
				</array>
			</dict>
			<key>Speed</key>
			<dict>
				<key>Default Index</key>
				<integer>4</integer>
				<key>Values</key>
				<array>
					<string>3</string>
					<string>4</string>
					<string>4</string>
					<string>4</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
				</array>
			</dict>
			<key>Might</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>2</string>
					<string>2</string>
					<string>4</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Heather Granville</key>
	<dict>
		<key>Picture</key>
		<string>HeatherGranville.png</string>
		<key>Age</key>
		<string>18</string>
		<key>Height</key>
		<string>5&apos; 2&quot;</string>
		<key>Weight</key>
		<string>120 lbs.</string>
		<key>Hobbies</key>
		<string>Television, Shopping</string>
		<key>Birthday</key>
		<string>August 2nd</string>
		<key>Stats</key>
		<dict>
			<key>Knowledge</key>
			<dict>
				<key>Default Index</key>
				<integer>5</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
				</array>
			</dict>
			<key>Sanity</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>3</string>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
					<string>6</string>
				</array>
			</dict>
			<key>Speed</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
				</array>
			</dict>
			<key>Might</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>3</string>
					<string>3</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Ox Bellows</key>
	<dict>
		<key>Picture</key>
		<string>OxBellows.png</string>
		<key>Age</key>
		<string>23</string>
		<key>Height</key>
		<string>6&apos; 4&quot;</string>
		<key>Weight</key>
		<string>288 lbs.</string>
		<key>Hobbies</key>
		<string>Football, Shiny Objects</string>
		<key>Birthday</key>
		<string>October 18th</string>
		<key>Stats</key>
		<dict>
			<key>Knowledge</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>2</string>
					<string>3</string>
					<string>3</string>
					<string>5</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
				</array>
			</dict>
			<key>Sanity</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
			</dict>
			<key>Speed</key>
			<dict>
				<key>Default Index</key>
				<integer>5</integer>
				<key>Values</key>
				<array>
					<string>2</string>
					<string>2</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>6</string>
				</array>
			</dict>
			<key>Might</key>
			<dict>
				<key>Default Index</key>
				<integer>3</integer>
				<key>Values</key>
				<array>
					<string>4</string>
					<string>5</string>
					<string>5</string>
					<string>6</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>8</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
